<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp2026.styles.css" />
    <link href="https://cdn.syncfusion.com/blazor/26.1.35/styles/bootstrap5.css" rel="stylesheet" />



    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.syncfusion.com/blazor/26.1.35/syncfusion-blazor.min.js"></script>

</body>

</html>
