@page "/products"
@using Blazor26.Models.Models
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@inject IUnitOfWork _unitOfWork
@rendermode InteractiveServer

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-info">Product List</h4>

    </div>
    <div class="col-4 offset-2">
        <a href="products/create" class="btn btn-info form-control"> Add new Products</a>
    </div>

</div>


<div class="col-12 p-3">
    @if (listOfProducts.Any())
    {
        <SfGrid DataSource="@listOfProducts" AllowPaging="true" AllowSorting="true" AllowFiltering="true">

            <GridColumns>
                <GridColumn HeaderText="Book" TextAlign="TextAlign.Center" Width="120">
                    <Template Context="prod">
                        @{
                            var product = prod as Product;
                        }

                        <img src="@product.Image" style="width:100px; height:100px; " />
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(Product.ID) HeaderText="ID" TextAlign="TextAlign.Left" Width="50"></GridColumn>
                <GridColumn Field=@nameof(Product.Name) HeaderText="Title" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                <GridColumn Field=@nameof(Product.Price) HeaderText="Price" Format="C2" TextAlign="TextAlign.Left" Width="100"></GridColumn>
                <GridColumn Field=@nameof(Product.CategoryID) HeaderText="GenreID" TextAlign="TextAlign.Left" Width="120"></GridColumn>

                <GridColumn Width="200">
                    <Template Context="prod">
                        @{
                            var product = prod as Product;
                        }

                        <NavLink href="@($"products/edit/{product.ID}")" class="btn btn-primary">Edit</NavLink>
                        <NavLink href="@($"products/delete/{product.ID}")" class="btn btn-primary">Delete</NavLink>

                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    }
    else
    {
        if (isLoading)
        {
            <div class="text-center">
                <img src="Images/Loading.gif" alt="loading" />
            </div>
        }
        else
        {
            <p class="text-danger">No Products found</p>
        }

    }
</div>

@code {
    private IEnumerable<Product> listOfProducts { get; set; } = new List<Product>();
    private bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadProducts);

    }

    private void LoadProducts()
    {
        listOfProducts = _unitOfWork.ProductRepo.GetAll();
        isLoading = false;
    }

}