@page "/products"
@using Blazor26.Models.Models
@using Syncfusion.Blazor.Grids
@inject IUnitOfWork _unitOfWork

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-info">Product List</h4>

    </div>
    <div class="col-4 offset-2">
        <a href="/products/create" class="btn btn-info form-control"> Add new Products</a>
    </div>

</div>


<div class="col-12 p-3">
    @if (listOfProducts.Any())
    {
           <SfGrid DataSource="@listOfProducts" AllowPaging="true">
        <GridColumns>
            <GridColumn Field="Name" HeaderText="Name" Width="200"></GridColumn>

            <GridColumn HeaderText="Edit" Width="120">
                <Template Context="item">
                        @{
                            var prod = item as Product;
                        }
                    <NavLink href="@($"/products/edit/{prod.ID}")" class="btn btn-primary">Edit</NavLink>
                </Template>
            </GridColumn>

            <GridColumn HeaderText="Delete" Width="120">
                <Template Context="item">
                        @{
                            var prod = item as Product;
                        }
                    <NavLink href="@($"/products/delete/{prod.ID}")" class="btn btn-danger">Delete</NavLink>
                </Template>
            </GridColumn>
        </GridColumns>
    </SfGrid>
    }
    else
    {
        if (isLoading)
        {
            <div class="text-center">
                <img src="Images/Loading.gif" alt="loading" />
            </div>
        }
        else
        {
            <p class="text-danger">No Products found</p>
        }
      
    }
</div>

@code{
    private IEnumerable<Product> listOfProducts { get; set; } = new List<Product>();
    private bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadProducts);
       
    }

    private void LoadProducts()
    {
        listOfProducts = _unitOfWork.ProductRepo.GetAll();
        isLoading = false;
    }

}